
@{
    ViewData["Title"] = "Delete Crash";

}
@model Crash

<h3>Are you sure you want to delete crash @Model.CRASH_ID?</h3>

    <form method="post" asp-controller="Home" asp-action="Delete">
        <button class="btn btn-danger" type="submit">Delete</button>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Crashes">Cancel</a>

        <input type="hidden" name="crashID" value="@Model.CRASH_ID" />

    </form>
