@{
    ViewData["Title"] = "Crash Prevention";
}

<h1 class="text-center">Staying Safe on the Road</h1>

<br />
<br />

<div class="row">
    <div class="col-2 m-4 p-2">
        <h6>Top Contributors to Car Crashes</h6>
        <a class="btn btn-block btn-primary" style="text-align: center;">Distracted Driving</a>
        <a class="btn btn-block btn-primary" style="text-align: center;">Speeding</a>
        <a class="btn btn-block btn-primary" style="text-align: center;">Teen Related</a>
        <a class="btn btn-block btn-primary" style="text-align: center;">Drunk Driving</a>
        <a class="btn btn-block btn-primary" style="text-align: center;">Older Driver</a>


    </div>


    <div class="col-9">
        <h3>How to Prevent a Serious Car Accident</h3>
        <br />
        <img src="~/img/crash.png" />
        <p>
            <strong>Keep a Safe Distance.</strong> Drive far enough away from the car in front to be able to safely stop in case of an emergency. Driving recklessly and speeding can easily be avoided
            by keeping a safe distance. Drive at least 3 seconds behind the car in front of you.
        </p>

        <p>
            <strong>Never Drive Distracted.</strong> Keep your eyes on the road at all times. That text, food, or dance move can wait.
            All it takes is a couple seconds for an unexpected obstacle to ruin your day.If you notice yourself yawning excesively or nodding off,
            schedule breaks to get out of your vehicle or pull over to take a nap.
        </p>
        <p>
            <strong>Recognize Drowsy and Distracted Drivers.</strong> Be looking for cars that are:
            <ul>
                <li>Drifting out of their lane</li>
                <li>Tailgating closely</li>
                <li>Excessively hitting rumble strips</li>
                <li>Swerving</li>
            </ul>
        </p>


    </div>
</div>