@{
    ViewData["Title"] = "Crash Prevention";
}
<div class="row">
    <div class="col-2">
        <h6>Top Contributors to Car Crashes</h6>

        <div class="text-white">

            <a class="btn btn-block btn-primary" style="text-align: center;">Distracted Driving</a>
            <a class="btn btn-block btn-primary" style="text-align: center;">Speeding</a>
            <a class="btn btn-block btn-primary" style="text-align: center;">Teen Related</a>
            <a class="btn btn-block btn-primary" style="text-align: center;">Drunk Driving</a>
            <a class="btn btn-block btn-primary" style="text-align: center;">Older Driver</a>
        </div>

    </div>


    <div class="col-9">
        <h3>How to Prevent a Serious Car Accident</h3>
        <br />
        <img src="~/img/2690.jpg" width="700" height="300" />
        <br /><br />
        <p>
            <strong>Keep a Safe Distance.</strong> Drive far enough away from the car in front to be able to safely stop in case of an emergency. Driving recklessly and speeding can easily be avoided
            by keeping a safe distance. Drive at least 3 seconds behind the car in front of you.
        </p>

        <p>
            <strong>Never Drive Distracted.</strong> Keep your eyes on the road at all times. That text, food, or dance move can wait.
            All it takes is a couple seconds for an unexpected obstacle to ruin your day. If you notice yourself excessively yawning or nodding off,
            schedule breaks to get out of your vehicle or pull over to take a nap.
        </p>

        <p>
            <strong>Recognize Drowsy and Distracted Drivers.</strong> Be searching for drivers that are:
            <ul>
                <li>Drifting out of their lane</li>
                <li>Tailgating closely</li>
                <li>Driving over rumble strips</li>
                <li>Swerving</li>
                <li>Looking at their phone</li>
            </ul>
            After recognizing a drowsy or distracted driver, be sure to keep your distance.
        </p>

        <p>
            <strong>Wear a Seatbelt.</strong> Wearing a seatbelt could be the difference between a fatal and a nonfatal car crash. Seat
            belts save approximately 15,000 lives in the United States per year. In the unfortunate event that you are involved
            in a car crash, a seatbelt could save your life.
        </p>


    </div>

</div>


