@{
    ViewData["Title"] = "Crash Severity";
}

<div class="row">
    <div class="col-2">
        <h6>Crash Severity</h6>

        <div class="text-white">
            <ul>
                <li>1 = No Injury</li>
                <li>2 = Possible Injury</li>
                <li>3 = Suspected Minor Injury</li>
                <li>4 = Suspected Serious Injury</li>
                <li>5 = Fatal</li>
            </ul>
        </div>

    </div>

    <div class="col-10">
        <h6>Crash Severity Calculator</h6>
        <br />
        <p>The form below uses automobile accident data in Utah collected over the course of 3 years to predict crash severity. </p>
    </div>
