

.red {
    background: #8f2715;
    color: white;
    font-family: Dubai;
    font-weight: bolder;
    overflow: hidden;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-right: 29px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 19px;
}

.goth {
    font-family: Dubai;
    font-weight:bolder;

}





.container {
    position: relative;
}







.cen {
    position: relative;
    right: 500px;
    left: 160px;
    padding-right:290px;
}