

.red {
    background: #8f2715;
    color: white;
    font-family: Dubai;
    font-weight: bolder;
    overflow: hidden;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-right: 29px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 19px;
}

.goth {
    font-family: Dubai;
    font-weight:bolder;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-block {
    position: absolute;
    bottom: 300px;
    left: 150px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
    opacity: 0.6;
    
}

.container {
    position: relative;
}





.banner {
    width: 100%;
    z-index: auto;
    margin: 0;
    padding: 0;
}

.cen {
    position: relative;
    right: 500px;
    left: 160px;
    padding-right:290px;
}